.contextmenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-base-blurred);
  backdrop-filter: blur(16px);
  width: 200px;
  height: auto;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  overflow: hidden;
  z-index: 10000;
}

#queue-container .contextmenu {
  z-index: 20000;
}

.contextmenu .item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  text-align: start;
}

.contextmenu .item {
  position: relative;
  width: 100%;
  height: 32px;
  padding: 8px 0;
  padding-left: 16px;
  background-color: var(--color-base);
  background-size: 16px;
  background-position: top 8px right 16px;
  background-repeat: no-repeat;
  font: var(--font-small);
  color: var(--color-ceil);
  cursor: pointer;
  transition: none;
}

.contextmenu:not(.menu) .item::before {
  position: absolute;
  top: 8px;
  left: 16px;
  font: inherit;
  color: inherit;
}

.contextmenu .item.show.disabled {
  cursor: default;
}

.contextmenu .item:hover {
  background-color: var(--color-base-1);
}

.contextmenu .item:active {
  background-color: var(--color-base-2);
}

.contextmenu .item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background-color: var(--color-base-1);
}

.contextmenu.menu .item {
  padding-left: 40px;
}

.contextmenu.menu .item.checked {
  color: var(--color-primary);
  background-position: top 8px left 16px;
  background-image: url("../assets/img/default/done-p.svg");
}

.contextmenu .item.create {
  background-image: url("../assets/img/default/add.svg");
}

.contextmenu .item.create::before {
  content: "새로 만들기";
}

.contextmenu .item.file {
  background-image: url("../assets/img/default/file.svg");
}

.contextmenu .item.file::before {
  content: "파일 불러오기"
}

.contextmenu .item.hide {
  color: var(--color-secondary);
  background-image: url("../assets/img/default/hide-s.svg");
}

.contextmenu .item.hide::before {
  content: "숨기기";
}

.contextmenu .item.to-playlist {
  background-image: url("../assets/img/default/add-to-playlist.svg");
}

.contextmenu .item.to-playlist::before {
  content: "플레이리스트에 추가";
}

.contextmenu .item.edit {
  background-image: url("../assets/img/default/edit.svg");
}

.contextmenu .item.edit::before {
  content: "편집";
}

.contextmenu .item.delete {
  color: var(--color-secondary);
  background-image: url("../assets/img/default/delete-s.svg");
}

.contextmenu .item.delete::before {
  content: "제거";
}

.contextmenu .item.download {
  background-image: url("../assets/img/default/download.svg");
}

.contextmenu .item.download::before {
  content: "파일로 저장";
}

.contextmenu .item.next {
  background-image: url("../assets/img/default/add-before.svg");
}

.contextmenu .item.next::before {
  content: "바로 다음에 재생";
}

#queue-item-opt .next::before {
  content: "바로 다음 순서로";
}

.contextmenu .item.later {
  background-image: url("../assets/img/default/add-next.svg");
}

.contextmenu .item.later::before {
  content: "나중에 재생";
}

[is-liked="false"] .contextmenu .item.like {
  background-image: url("../assets/img/default/like.svg");
}

[is-liked="true"] .contextmenu .item.like {
  background-image: url("../assets/img/default/dislike.svg");
}

[is-liked="false"] .contextmenu .item.like::before {
  content: "좋아요";
}

[is-liked="true"] .contextmenu .item.like::before {
  content: "좋아요 취소";
}

.contextmenu .item.show::before {
  content: "플레이리스트 보기";
}

.contextmenu .item.show:not(.disabled) {
  background-image: url("../assets/img/default/playlist.svg");
}

.contextmenu .item.show.disabled {
  color: var(--color-base-3);
  background-image: url("../assets/img/default/playlist-g.svg");
}

.contextmenu .item.show.disabled:hover,
.contextmenu .item.show.disabled:active {
  background-color: var(--color-base);
}

.contextmenu.menu .contour {
  width: 100%;
  height: 4px;
  mix-blend-mode: multiply;
  background-color: var(--color-base-3);
}

#library-search-opt,
#library-sort-opt,
#selectable-search-opt,
#selectable-sort-opt,
#playlist-sort-opt,
#playlist-opt {
  top: calc(100% + 8px);
}

#playlist-create-opt,
#playlist-create-opt-add {
  top: calc(100% + 8px);
  left: 24px;
  right: auto;
}