/* 양 옆 버튼 스타일 */
#open-queue,
#fullscreen-button {
  display: block;
  width: 72px;
  height: 72px;
  background-color: var(--color-base, #fff);
}

#open-queue {
  background: url("../assets/img/36px/List-p.svg") no-repeat center/36px;
}

#fullscreen-button {
  background: url("../assets/img/36px/Fullscreen.svg") no-repeat center/36px;
}

#open-queue:hover,
#fullscreen-button:hover {
  background-color: var(--color-base-1, #f5f5f5);
}

#open-queue:active,
#fullscreen-button:active {
  background-color: var(--color-base-2, #ebebeb);
}

#open-queue.active {
  background: url("../assets/img/36px/List-w.svg") no-repeat center/36px;
  background-color: var(--color-primary, #595ae2);
}

#open-queue.active:hover {
  background-color: var(--color-primary-darker, #4344d4);
}

#open-queue.active:active {
  background-color: var(--color-primary-darkest, #3435c3);
}

/* 컨트롤 패널 스타일 */
.control-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--color-base, #ffffff);
}

.control-container {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-base, #ffffff);
}

#repeat-button,
#shuffle-button {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

#repeat-button {
  background: url("../assets/img/24px/Repeat-p.svg") no-repeat center/24px;
}

#repeat-button:disabled,
#repeat-button.active:disabled,
#repeat-button.active.one:disabled {
  background: url("../assets/img/24px/Repeat-g.svg") no-repeat center/24px;
}

#repeat-button.active {
  background: url("../assets/img/24px/Repeat-w.svg") no-repeat center/24px;
}

#repeat-button.active.one {
  background: url("../assets/img/24px/Repeat-One.svg") no-repeat center/24px;
}

#shuffle-button {
  background: url("../assets/img/24px/Shuffle-p.svg") no-repeat center/24px;
}

#shuffle-button:disabled,
#shuffle-button.active:disabled {
  background: url("../assets/img/24px/Shuffle-g.svg") no-repeat center/24px;
}

#shuffle-button.active {
  background: url("../assets/img/24px/Shuffle-w.svg") no-repeat center/24px;
}

#repeat-button:hover:not(:disabled),
#shuffle-button:hover:not(:disabled) {
  background-color: var(--color-base-1, #F5F5F5);
}

#repeat-button:active,
#shuffle-button:active {
  background-color: var(--color-base-2, #EBEBEB);
}

#repeat-button.active,
#repeat-button.one.active,
#shuffle-button.active {
  background-color: var(--color-primary, #595ae2);
}

#repeat-button.active:hover,
#shuffle-button.active:hover {
  background-color: var(--color-primary-darker, #4344d4);
}

#repeat-button.active:active,
#shuffle-button.active:active {
  background-color: var(--color-primary-darkest, #3435c3);
}

.control-buttons {
  display: flex;
  align-items: center;
  margin: 0 16px;
}


#prev-button {
  background: url("../assets/img/36px/Prev.svg") no-repeat center/36px;
}

#prev-button:hover:not(:disabled) {
  background: url("../assets/img/36px/Prev-p.svg") no-repeat center/36px;
}

#prev-button:active:not(:disabled) {
  background: url("../assets/img/36px/Prev-pd.svg") no-repeat center/36px;
}

#prev-button:disabled {
  background: url("../assets/img/36px/Prev-g.svg") no-repeat center/36px;
}

#next-button {
  background: url("../assets/img/36px/Next.svg") no-repeat center/36px;
}

#next-button:hover:not(:disabled) {
  background: url("../assets/img/36px/Next-p.svg") no-repeat center/36px;
}

#next-button:active:not(:disabled) {
  background: url("../assets/img/36px/Next-pd.svg") no-repeat center/36px;
}

#next-button:disabled {
  background: url("../assets/img/36px/Next-g.svg") no-repeat center/36px;
}

#play-or-pause {
  margin: 0 8px;
}

#play-or-pause.play {
  background: url("../assets/img/36px/Play.svg") no-repeat center/36px;
}

#play-or-pause.play:hover:not(:disabled) {
  background: url("../assets/img/36px/Play-p.svg") no-repeat center/36px;
}

#play-or-pause.play:active:not(:disabled) {
  background: url("../assets/img/36px/Play-pd.svg") no-repeat center/36px;
}

#play-or-pause.play:disabled {
  background: url("../assets/img/36px/Play-g.svg") no-repeat center/36px;
}

#play-or-pause.pause {
  background: url("../assets/img/36px/Pause.svg") no-repeat center/36px;
}

#play-or-pause.pause:hover:not(:disabled) {
  background: url("../assets/img/36px/Pause-p.svg") no-repeat center/36px;
}

#play-or-pause.pause:active:not(:disabled) {
  background: url("../assets/img/36px/Pause-pd.svg") no-repeat center/36px;
}

#play-or-pause.pause:disabled {
  background: url("../assets/img/36px/Pause-g.svg") no-repeat center/36px;
}

#prev-button,
#play-or-pause,
#next-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  transition: background 150ms ease-in-out, transform 150ms cubic-bezier(0.54, -0.04, 0.35, 2.5);
}

#prev-button:hover:not(:disabled),
#play-or-pause.play:hover:not(:disabled),
#play-or-pause.pause:hover:not(:disabled),
#next-button:hover:not(:disabled) {
  background-color: var(--color-base-1, #F5F5F5);
}

#prev-button:active:not(:disabled),
#play-or-pause.play:active:not(:disabled),
#play-or-pause.pause:active:not(:disabled),
#next-button:active:not(:disabled) {
  transform: scale(0.8);
  background-color: var(--color-base-2, #EBEBEB);
}

#prev-button.seeking:active:not(:disabled),
#next-button.seeking:active:not(:disabled) {
  transform: scale(1.1);
}

/* 플레이 볼륨 바 스타일 */
.play-volume-bars {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-base, #fff);
  padding: 20px 10.71428571428571%;
}

#play-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background: linear-gradient(to right, var(--color-primary, #595ae2) 0%, var(--color-primary, #595ae2) 0%, var(--color-base-3, #d9d9d9) 0%, var(--color-base-3, #d9d9d9) 100%);
  margin-bottom: 6px;
  cursor: pointer;
}

#play-bar::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-primary, #595ae2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transition: all 150ms ease-in-out;
}

#play-bar::-webkit-slider-thumb:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  transform: scale(1.2);
}

#play-bar::-webkit-slider-thumb:active {
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  transform: scale(1.6);
}

.timers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font: 400 12px/1.25 'NotoSans';
  color: var(--color-ceil-1, #707070);
  padding: 0 4px;
}

.volume-bar-container {
  position: relative;
  top: -2px;
  display: flex;
  align-items: center;
  width: 68.75%;
}

#mute-button,
#volume-button {
  width: 16px;
  height: 16px;
}

#mute-button {
  background: url("../assets/img/16px/Mute.svg") no-repeat center/16px;
  transition: transform 300ms cubic-bezier(0.54, -0.04, 0.35, 2.5);
  cursor: pointer;
}

#mute-button:hover {
  transform: scale(1.5);
}

#mute-button:active {
  transform: scale(1);
}

#volume-button {
  background: url("../assets/img/16px/Volume-Up.svg") no-repeat center/16px;
}

#volume-bar {
  -webkit-appearance: none;
  width: calc(100% - 64px);
  height: 4px;
  border-radius: 100px;
  margin: 0 8px 0;
  background: linear-gradient(to right, var(--color-primary, #595ae2) 0%, var(--color-primary, #595ae2) 0%, var(--color-base-3, #d9d9d9) 0%, var(--color-base-3, #d9d9d9) 100%);
}

#volume-bar:not(:disabled) {
  cursor: pointer;
}

#volume-bar:disabled {
  cursor: default;
}

#volume-bar::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-base, #fff);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transition: all 150ms ease-in-out;
}

#volume-bar::-webkit-slider-thumb:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

#volume-bar::-webkit-slider-thumb:active {
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

/* 정보 패널 스타일 */
.song-info-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-base, #fff);
}

.song-info-block {
  width: calc(100% - 72px);
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  background-color: var(--color-base, #fff);
}

.curr-song-info {
  width: calc(100% - 120px);
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

#curr-song-title {
  width: 100%;
  font: 700 16px/1.5 'NotoSans';
  color: var(--color-ceil, #262626);
  margin-bottom: 4;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#curr-song-artist {
  width: 100%;
  font: 400 14px/20px 'NotoSans';
  color: var(--color-ceil-1, #707070);
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#curr-song-artist:hover {
  text-decoration: underline;
}

#open-curr-playlist,
#like-this-button,
#meatballs-button {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

#open-curr-playlist {
  border-radius: 4px;
  background: url("../assets/img/24px/Playlist.svg") no-repeat center/24px;
}

#open-curr-playlist:disabled {
  background: url("../assets/img/24px/Playlist-g.svg") no-repeat center/24px;
}

#open-curr-playlist:hover:not(:disabled) {
  background-color: var(--color-base-1, #F5F5F5);
}

#open-curr-playlist:active:not(:disabled) {
  background-color: var(--color-base-2, #EBEBEB);
}

#like-this-button {
  background: url("../assets/img/24px/Like-s.svg") no-repeat center/24px;
  transition: all 150ms ease-out;
}

#like-this-button:hover:not(:disabled),
#like-this-button.liked:hover {
  filter: drop-shadow(0 0px 2px var(--color-secondary-blurred, rgba(255, 103, 139, 0.7)));
}

#like-this-button:active:not(:disabled) {
  background: url("../assets/img/24px/Like-sd.svg") no-repeat center/24px;
}

#like-this-button:disabled {
  background: url("../assets/img/24px/Like-g.svg") no-repeat center/24px;
}

#like-this-button.liked {
  background: url("../assets/img/24px/Liked-s.svg") no-repeat center/24px;
  transition: all 150ms ease-out;
}

#like-this-button.liked:active {
  background: url("../assets/img/24px/Liked-sd.svg") no-repeat center/24px;
}

#like-this-button.liked:disabled {
  background: url("../assets/img/24px/Liked-g.svg") no-repeat center/24px;
}

#meatballs-button {
  border-radius: 50%;
  background: url("../assets/img/24px/meatballs-g.svg") no-repeat center/24px;
  background-color: var(--color-base, #fff);
}

#meatballs-button:hover:not(:disabled) {
  background-color: var(--color-base-1, #F5F5F5);
}

#meatballs-button:active {
  background: url("../assets/img/24px/meatballs-gd.svg") no-repeat center/24px;
  background-color: var(--color-base-2, #EBEBEB);
}

#open-queue,
#fullscreen-button,
#repeat-button:not(:disabled),
#shuffle-button:not(:disabled),
#prev-button:not(:disabled),
#play-or-pause:not(:disabled),
#next-button:not(:disabled),
#open-curr-playlist:not(:disabled),
#like-this-button:not(:disabled),
#meatballs-button:not(:disabled) {
  cursor: pointer;
}


/* 툴팁 스타일 */
#prev-button,
#next-button,
#open-curr-playlist {
  position: relative;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  max-width: 240px;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-base, #fff);
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  border-radius: 4px;
  bottom: calc(100% + 20px);
  left: 50%;
  opacity: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: visibility 150ms ease-in-out, opacity 150ms ease-in-out;
  transform: translateX(-50%);
}

.tooltip.visible,
.tooltip.must-visible {
  visibility: visible;
  opacity: 1;
}

.tooltip::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 14px;
  height: 24px;
  border-style: solid;
  border-width: 12px 7px;
  border-color: white transparent transparent transparent;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.25));
  z-index: 99999;
  top: 100%;
  left: calc(50% - 7px);
}

.tooltip-header {
  display: block;
  text-align: center;
  padding: 8px 16px;
  font: var(--font-small-bold, 700 12px/1.333333333 "NotoSans");
  color: var(--color-ceil-1, #707070);
}

.tooltip-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-base-3, #D9D9D9);
}

.tooltip-desc {
  display: flex;
  flex-direction: column;
  padding: 9px 16px 8px;
}

.tooltip-desc strong {
  max-width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(-2px);
  font: var(--font-medium-bold, 700 14px/18px "NotoSans");
  color: var(--color-ceil, #080404);
  margin-bottom: 2px;
}

.tooltip-desc strong:last-child {
  margin-bottom: 0;
}

.tooltip-desc span {
  font: var(--font-artist, 400 12px/1 "NotoSans");
  color: var(--color-ceil-1, #707070);
}
