.queue-item-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding: 0 32px;
  background-color: var(--color-base-2-blurred, rgba(235, 235, 235, 0.7));
  backdrop-filter: blur(16px);
  scroll-snap-align: start;
  z-index: 99999;
}

.queue-desc {
  display: block;
  font: var(--font-medium-bold, 700 14px/16px "NotoSans");
  letter-spacing: -0.01em;
  color: var(--color-ceil, #262626);
}

.queue-desc:not(:last-child) {
  margin-bottom: 4px;
}

.queue-desc-sub {
  font: var(--font-artist, 400 12px/1 "NotoSans");
  letter-spacing: -0.02em;
  color: var(--color-ceil-1, #707070);
  cursor: pointer;
}

.queue-desc-sub:hover {
  text-decoration: underline;
}

.queue-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 208px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#queue-content {
  min-height: calc(100vh - 168px);
}

#queue-content .music-item {
  display: none;
}

#queue-content .current ~ .music-item {
  display: flex;
}

#queue-status {
  position: relative;
  width: 24px;
  height: 24px;
}

#queue-status.active {
  background: url("../assets/img/24px/Linked-p.svg") no-repeat center/24px;
}

#queue-status:not(.active) {
  background: url("../assets/img/24px/Linked-gd.svg") no-repeat center/24px;
}

#queue-status .tooltip {
  width: 160px;
  height: 96px;
  top: calc(100% + 20px);
  bottom: auto;
  right: -83px;
  left: auto;
  z-index: 1000;
}

#queue-status.active .tooltip.on.visible,
#queue-status:not(.active) .tooltip.off.visible {
  visibility: visible;
  opacity: 1;
}

#queue-status.active .tooltip.off.visible,
#queue-status:not(.active) .tooltip.on.visible {
  visibility: hidden;
  opacity: 0;
}

#queue-status .tooltip.on .tooltip-header {
  color: var(--color-primary, #595ae2);
}

#queue-status .tooltip-desc p {
  font: 400 12px/16px "NotoSans";
  letter-spacing: -0.02em;
}

#queue-status .tooltip::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 14px;
  height: 24px;
  border-style: solid;
  border-width: 12px 7px;
  border-color: transparent transparent white transparent;
  filter: none;
  z-index: 900;
  bottom: 100%;
  top: auto;
  right: 8px;
  left: auto;
}