@import url("variables.css");

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/notokr-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/notokr-bold.woff2");
  font-weight: 700;
}

/* variable library */
:root {
  --color-primary-lightest: #dcdcfc;
  --color-primary-lighter: #9d9efe;
  --color-primary: #595ae2;
  --color-primary-darker: #5051D9;
  --color-primary-darker-blurred: rgba(80, 81, 217, 0.7);
  --color-primary-darkest: #4142D1;
  --color-primary-darkest-blurred: rgba(65, 66, 209, 0.7);
  --color-secondary: #ff678b;
  --color-secondary-blurred: rgba(255, 103, 139, 0.7);
  --color-secondary-darker: #e74269;
  --color-grey-lightest: #f5f5f5;
  --color-grey-lighter: #ebebeb;
  --color-grey: #d9d9d9;
  --color-grey-darker: #a9a9a9;
  --color-grey-darkest: #707070;
  --color-black: #262626;
  --color-white: #fff;
  --color-white-blurred: rgba(255, 255, 255, 0.7);
  --color-grey-lightest-blurred: rgba(245, 245, 245, 0.7);
  --color-grey-lighter-blurred: rgba(235, 235, 235, 0.7);
  --font-tiny-bold: 700 10px/1.2 "NotoSans";
  --font-small: 400 12px/1.333333333 "NotoSans";
  --font-artist: 400 12px/1 "NotoSans";
  --font-small-bold: 700 12px/1.333333333 "NotoSans";
  --font-medium: 400 14px/16px "NotoSans";
  --font-medium-bold: 700 14px/16px "NotoSans";
  --font-large: 400 16px/1.5 "NotoSans";
  --font-large-bold: 700 16px/1.5 "NotoSans";
  --font-header: 700 16px/1 "NotoSans";
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  transition: box-shadow 150ms ease-in-out, opacity 150ms ease-in-out, background 150ms ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "NotoSans", sans-serif;
  border: none;
  padding: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

*:focus,
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.slip-reordering {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* 본격적인 스타일 시작 */
html {
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "NotoSans", sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

body.dark-mode {
  --color-base: #303030;
  --color-base-1: #414141;
  --color-base-2: #545454;
  --color-base-3: #707070;
  --color-ceil-2: #a9a9a9;
  --color-ceil-1: #ebebeb;
  --color-ceil: #fff;
  --color-base-blurred: rgba(30,30,30,0.7);
  --color-base-1-blurred: rgba(41,41,41,0.7);
  --color-base-2-blurred: rgba(54,54,54,0.7);
  --color-primary-darker: #5253eb;
  --color-primary-darker-blurred: rgba(82, 83, 235, 0.7);
  --color-primary-darkest: #696af4;
  --color-primary-darkest-blurred: rga(105, 106, 244, 0.7);
  --color-secondary: #ff83a0;
  --color-secondary-blurred: rgba(255, 131, 160, 0.7);
  --color-secondary-darker: #ff678b;
}

.container {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 320px minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 72px;
  gap: 0;
}

#tab.invisible {
  display: none;
}

#tab.invisible ~ #video {
  display: block;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#tab {
  position: relative;
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: calc(100vh - 72px);
  box-shadow: 4px 0 8px -4px rgb(0 0 0 / 25%);
  z-index: 1;
}

#tab:not(.invisible) ~ #video {
  display: block;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

#video {
  position: relative;
  z-index: 0;
}

.control-panel {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#tab:not(.invisible) ~ .control-panel,
#tab:not(.invisible) ~ .play-volume-bars {
  z-index: 10;
}

#tab:not(.invisible) ~ .control-panel {
  box-shadow: 0 -2px 6px -2px rgba(0, 0, 0, 0.25);
}

.play-volume-bars {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.song-info-section {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.storehouse {
  display: none;
}

#video-cover {
  position: absolute;
  background: url("../assets/img/default/main-logo-p.svg") no-repeat center/400px auto;
  background-color: #f0f0f0;
  box-shadow: inset 0 -6px 6px -6px rgb(0 0 0 / 25%);
  z-index: 1000;
}

#tab.invisible ~ #video-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 72px);
}

#tab:not(.invisible) ~ #video-cover {
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  height: calc(100% - 72px);
  box-shadow: inset 6px -6px 6px -6px rgb(0 0 0 / 25%);
}

.tab-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-base, #fff);
}

.header {
  justify-self: flex-start;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: var(--color-primary, #595ae2);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background: url("../assets/img/default/clear-w.svg") no-repeat center/24px;
  cursor: pointer;
}

.header-title {
  font: var(--font-header, 700 16px/1 "NotoSans");
  color: var(--color-white, #fff);
}

.tab-container > .content,
.float-container > .content {
  width: 100%;
  height: calc(100% - 40px);
  flex-grow: 1;
}

#menu-buttons {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  width: 96px;
  height: 304px;
  padding: 16px;
  z-index: 99999;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

#menu-buttons.invisible {
  opacity: 0;
}

#tab.invisible ~ #menu-buttons {
  left: 0;
}

#tab:not(.invisible) ~ #menu-buttons {
  left: 320px;
}

#menu-buttons button {
  cursor: pointer;
} 

#open-menu {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  opacity: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -5px, rgba(0, 0, 0, 0.3) 0px 6px 12px -6px;
  transition: all 200ms ease-in-out, transform 200ms cubic-bezier(0.54, -0.04, 0.35, 2.5);
}

#open-menu:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -7.5px, rgba(0, 0, 0, 0.3) 0px 12px 24px -12px;
  transform: scale(1.05);
}

#open-menu:active {
  opacity: 0.7;
  transform: scale(0.9);
}

#open-menu:not(.active) {
  background: url("../assets/img/default/logo-w.svg") no-repeat center/64px;
  background-color: var(--color-primary, #595ae2);
  border: none;
}

#open-menu.active {
  background: url("../assets/img/default/logo-p.svg") no-repeat center/64px;
  background-color: var(--color-base, #fff);
  border: 4px solid var(--color-primary, #595ae2);
}

#menu-buttons .decoration ~ button {
  position: absolute;
  left: 24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 15px -4px, rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
  transition: all 200ms ease-in-out, transform 200ms cubic-bezier(0.54, -0.04, 0.35, 2.5);
}

#menu-buttons .decoration ~ button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -5px, rgba(0, 0, 0, 0.3) 0px 6px 12px -6px;
  transform: scale(1.05);
}

#menu-buttons .decoration ~ button:active {
  opacity: 0.7;
  transform: scale(0.9);
}

#open-library {
  top: 168px;
}

#open-library:not(.active) {
  background: url("../assets/img/default/library-p.svg") no-repeat center/40px;
  background-color: var(--color-base);
}

#open-library.active {
  background: url("../assets/img/default/library-w.svg") no-repeat center/40px;
  background-color: var(--color-primary);
}

#open-playlist {
  top: 232px;
}

#open-playlist:not(.active) {
  background: url("../assets/img/default/playlist-p.svg") no-repeat center/40px;
  background-color: var(--color-base);
}

#open-playlist.active {
  background: url("../assets/img/default/playlist-w.svg") no-repeat center/40px;
  background-color: var(--color-primary);
}

#menu-buttons .decoration {
  position: absolute;
  top: 88px;
  height: 47px;
  width: 2px;
  height: 72px;
  border-left: 2px dashed rgb(217 217 217 / 50%)
}


/* 음악 추가 스타일 시작 */
#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(12px);
  z-index: 10000;
  animation: backdrop-in 200ms cubic-bezier(0, 0, 0, 1);
}

#backdrop.out {
  animation: backdrop-out 150ms cubic-bezier(1, 1, 0, 1) forwards;
}

.float-container,
#tab>.tab-container+#queue-container,
#tab>#backdrop+#queue-container {
  position: absolute;
  left: 0;
  top: 160px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 160px);
  background-color: var(--color-base, #fff);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.float-container {
  animation: floats-in 200ms cubic-bezier(0, 0, 0, 1);
}

#tab>#backdrop+#queue-container {
  animation: floating-queue-in 200ms cubic-bezier(0, 0, 0, 1);
}

.float-container.out {
  animation: floats-out 150ms cubic-bezier(1, 0, 1, 1) forwards;
}

#tab>#backdrop+#queue-container.out {
  animation: floating-queue-out 150ms cubic-bezier(1, 0, 1, 1) forwards;
}

#tab>.tab-container+#queue-container,
#tab>#backdrop+#queue-container {
  top: 120px;
  height: calc(100% - 120px);
}

#edit-container {
  z-index: 5000;
}

#add-container,
#selectable-container,
#backdrop + #queue-container {
  z-index: 10001;
}

/* 메인 메뉴 스타일 시작 */
#main-menu .header {
  position: relative;
  width: 100%;
  height: 144px;
  background: url("../assets/img/default/main-logo-w.svg") no-repeat;
  background-position: top 48px left 40px;
  background-size: auto 48px;
  background-color: var(--color-primary);
}

#main-menu .header+.contour {
  width: 100%;
  height: 16px;
  background-color: var(--color-primary);
  opacity: 35%;
}

.big-item {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 20px 64px 20px 96px;
  font: var(--font-large-bold);
  letter-spacing: -0.01em;
  color: var(--color-ceil);
  background-repeat: no-repeat;
  background-position: top 14px left 40px;
  background-size: 36px;
  background-color: var(--color-base);
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

.big-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 240px;
  height: 2px;
  background-color: var(--color-base-2);
}

.big-item::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 8px;
  width: 24px;
  height: 24px;
  background: url("../assets/img/default/right-g.svg") no-repeat center/24px;
}

.big-item.library {
  background-image: url("../assets/img/default/library.svg");
}

.big-item.playlist {
  background-image: url("../assets/img/default/playlist.svg");
}

.big-item.setting {
  background-image: url("../assets/img/default/setting.svg");
}

.big-item.shortcut {
  background-image: url("../assets/img/default/open.svg");
}

.big-item.help {
  background-image: url("../assets/img/default/help.svg");
}

.big-item:hover {
  color: var(--color-primary);
}

.big-item:hover::after {
  background: url("../assets/img/default/right-p.svg") no-repeat center/24px;
}

.big-item:hover.library {
  background-image: url("../assets/img/default/library-p.svg");
}

.big-item:hover.playlist {
  background-image: url("../assets/img/default/playlist-p.svg");
}

.big-item:hover.setting {
  background-image: url("../assets/img/default/setting-p.svg");
}

.big-item:hover.shortcut {
  background-image: url("../assets/img/default/open-p.svg");
}

.big-item:hover.help {
  background-image: url("../assets/img/default/help-p.svg");
}

.big-item:active {
  background-color: var(--color-base-2);
}

.big-item+.contour {
  width: 100%;
  height: 64px;
  background-color: var(--color-base-1);
}

@keyframes tab {
  0% {
    width: 0;
  }

  100% {
    width: 320px;
  }
}

@keyframes backdrop-in {
  0% {
    opacity: 0;
    backdrop-filter: blur(0);
  }

  100% {
    opacity: 1;
    backdrop-filter: blur(12px);
  }
}

@keyframes backdrop-out {
  0% {
    opacity: 1;
    backdrop-filter: blur(12px);
  }

  100% {
    opacity: 0;
    backdrop-filter: blur(0);
  }
}

@keyframes floating-queue-in {
  0% {
    top: 100%;
  }

  100% {
    top: 120px;
  }
}
@keyframes floating-queue-out {
  0% {
    top: 120px;
  }

  100% {
    top: 100%;
  }
}

@keyframes floats-in {
  0% {
    top: 100%;
  }

  100% {
    top: 160px;
  }
}

@keyframes floats-out {
  0% {
    top: 160px;
  }

  100% {
    top: 100%;
  }
}