@import url("variables.css");

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/notokr-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/notokr-bold.woff2");
  font-weight: 700;
}

/* variable library */
:root {
  --color-primary-lightest: #dcdcfc;
  --color-primary-lighter: #9d9efe;
  --color-primary: #595ae2;
  --color-primary-darker: #4344d4;
  --color-primary-darkest: #3435c3;
  --color-secondary: #ff678b;
  --color-secondary-darker: #e74269;
  --color-grey-lightest: #f5f5f5;
  --color-grey-lighter: #ebebeb;
  --color-grey: #d9d9d9;
  --color-grey-darker: #a9a9a9;
  --color-grey-darkest: #707070;
  --color-black: #262626;
  --color-white: #fff;
  --color-white-blurred: rgba(255, 255, 255, 0.7);
  --color-grey-lightest: rgba(245, 245, 245, 0.7);
  --color-grey-lighter: rgba(235, 235, 235, 0.7);
  --font-tiny-bold: 700 10px/1.2 "NotoSans";
  --font-small: 400 12px/1.333333333 "NotoSans";
  --font-artist: 400 12px/1 "NotoSans";
  --font-small-bold: 700 12px/1.333333333 "NotoSans";
  --font-medium-bold: 700 14px/1.142857142857143 "NotoSans";
  --font-large: 400 16px/1.5 "NotoSans";
  --font-large-bold: 700 16px/1.5 "NotoSans";
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  transition: box-shadow 150ms ease-in-out, opacity 150ms ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "NotoSans", sans-serif;
  border: none;
}

*:focus,
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.slip-reordering {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

html {
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "NotoSans", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 320px 1fr 1fr;
  grid-template-rows: 1fr 72px;
  gap: 0;
}

.tab.invisible {
  display: none;
}

.tab.invisible ~ #video {
  display: block;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.tab {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.tab ~ #video {
  display: block;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.control-panel {
  display: block;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.play-volume-bars {
  display: block;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.song-info-section {
  display: block;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.open-queue,
.fullscreen-button {
  display: block;
  width: 72px;
  height: 72px;
  background-color: var(--color-base, #fff);
}

.open-queue {
  background: url("../assets/img/36px/List-p.svg") no-repeat center/36px;
}

.fullscreen-button {
  background: url("../assets/img/36px/Fullscreen.svg") no-repeat center/36px;
}

.open-queue:hover,
.fullscreen-button:hover {
  background-color: var(--color-base-1, #f5f5f5);
}

.open-queue:active,
.fullscreen-button:active {
  background-color: var(--color-base-2, #ebebeb);
}

.open-queue.active {
  background: url("../assets/img/36px/List-w.svg") no-repeat center/36px;
  background-color: var(--color-primary, #595ae2);
}

.open-queue.active:hover {
  background-color: var(--color-primary-darker, #4344d4);
}

.open-queue.active:active {
  background-color: var(--color-primary-darkest, #3435c3);
}

.control-panel {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 72px;
  background-color: var(--color-base, #ffffff);
}

.control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-base, #ffffff);
}



.repeat-button,
.shuffle-button {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.repeat-button:hover,
.shuffle-button:hover {
  background-color: var(--color-base-1, #F5F5F5);
}

.repeat-button:active,
.shuffle-button:active {
  background-color: var(--color-base-2, #EBEBEB);
}

.repeat-button.active,
.shuffle-button.active {
  background-color: var(--color-primary, #595ae2);
}

.repeat-button.active:hover,
.shuffle-button.active:hover {
  background-color: var(--color-primary-darker, #4344d4);
}

.repeat-button.active:active,
.shuffle-button.active:active {
  background-color: var(--color-primary-darkest, #3435c3);
}

.repeat-button {
  background: url("../assets/img/24px/Repeat-p.svg") no-repeat center/24px;
}

.repeat-button.active {
  background: url("../assets/img/24px/Repeat-w.svg") no-repeat center/24px;
}

.repeat-button.active.one {
  background: url("../assets/img/24px/Repeat-One.svg") no-repeat center/24px;
}

.shuffle-button {
  background: url("../assets/img/24px/Shuffle-p.svg") no-repeat center/24px;
}

.shuffle-button.active {
  background: url("../assets/img/24px/Repeat-w.svg") no-repeat center/24px;
}

.control-buttons {
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.prev-button,
.play-or-pause,
.next-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 150ms ease-in-out, transform 150ms ease-in-out;
}

.prev-button:hover,
.play-or-pause:hover,
.next-button:hover {
  background-color: var(--color-base-1, #F5F5F5);
}

.prev-button:active,
.play-or-pause:active,
.next-button:active {
  transform: scale(0.7);
  background-color: var(--color-base-2, #EBEBEB);
}

.prev-button {
  background: url("../assets/img/36px/Prev.svg") no-repeat center/36px;
}

.prev-button:hover {
  background: url("../assets/img/36px/Prev-p.svg") no-repeat center/36px;
}

.prev-button:active {
  background: url("../assets/img/36px/Prev-pd.svg") no-repeat center/36px;
}

.next-button {
  background: url("../assets/img/36px/Next.svg") no-repeat center/36px;
}

.next-button:hover {
  background: url("../assets/img/36px/Next-p.svg") no-repeat center/36px;
}

.next-button:active {
  background: url("../assets/img/36px/Next-pd.svg") no-repeat center/36px;
}

.play-or-pause.play {
  background: url("../assets/img/36px/Play.svg") no-repeat center/36px;
}

.play-or-pause.play:hover {
  background: url("../assets/img/36px/Play-p.svg") no-repeat center/36px;
}

.play-or-pause.play:active {
  background: url("../assets/img/36px/Play-pd.svg") no-repeat center/36px;
}

.play-or-pause.pause {
  background: url("../assets/img/36px/Pause.svg") no-repeat center/36px;
}

.play-or-pause.pause:hover {
  background: url("../assets/img/36px/Pause-p.svg") no-repeat center/36px;
}

.play-or-pause.pause:active {
  background: url("../assets/img/36px/Pause-pd.svg") no-repeat center/36px;
}