@import url("variables.css");

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/notokr-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/notokr-bold.woff2");
  font-weight: 700;
}

/* variable library */
:root {
  --color-primary-lightest: #dcdcfc;
  --color-primary-lighter: #9d9efe;
  --color-primary: #595ae2;
  --color-primary-darker: #4344d4;
  --color-primary-darker-blurred: rgba(67, 68, 212, 0.7);
  --color-primary-darkest: #3435c3;
  --color-primary-darkest-blurred: rgba(52, 53, 195, 0.7);
  --color-secondary: #ff678b;
  --color-secondary-blurred: rgba(255, 103, 139, 0.7);
  --color-secondary-darker: #e74269;
  --color-grey-lightest: #f5f5f5;
  --color-grey-lighter: #ebebeb;
  --color-grey: #d9d9d9;
  --color-grey-darker: #a9a9a9;
  --color-grey-darkest: #707070;
  --color-black: #262626;
  --color-white: #fff;
  --color-white-blurred: rgba(255, 255, 255, 0.7);
  --color-grey-lightest-blurred: rgba(245, 245, 245, 0.7);
  --color-grey-lighter-blurred: rgba(235, 235, 235, 0.7);
  --font-tiny-bold: 700 10px/1.2 "NotoSans";
  --font-small: 400 12px/1.333333333 "NotoSans";
  --font-artist: 400 12px/1 "NotoSans";
  --font-small-bold: 700 12px/1.333333333 "NotoSans";
  --font-medium-bold: 700 14px/16px "NotoSans";
  --font-large: 400 16px/1.5 "NotoSans";
  --font-large-bold: 700 16px/1.5 "NotoSans";
  --font-header: 700 16px/1 "NotoSans";
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  transition: box-shadow 150ms ease-in-out, opacity 150ms ease-in-out, background 150ms ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "NotoSans", sans-serif;
  border: none;
}


input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

*:focus,
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.slip-reordering {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* 본격적인 스타일 시작 */
html {
  width: 100vw;
  min-width: 960px;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "NotoSans", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 320px minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 72px;
  gap: 0;
}

#tab.invisible {
  display: none;
}

#tab.invisible ~ #video {
  display: block;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#tab {
  display: block;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: calc(100vh - 72px);
  box-shadow: 4px 0 8px -4px rgb(0 0 0 / 25%);
  z-index: 1;
}

#tab:not(.invisible) ~ #video {
  display: block;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

#video {
  position: relative;
  z-index: 0;
}

.control-panel {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#tab:not(.invisible) ~ .control-panel,
#tab:not(.invisible) ~ .play-volume-bars {
  z-index: 10;
}

#tab:not(.invisible) ~ .control-panel {
  box-shadow: 0 -2px 6px -2px rgba(0, 0, 0, 0.25);
}

.play-volume-bars {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.song-info-section {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#element-storehouse,
#modal-storehouse,
#contextmenu-storehouse {
  display: none;
}

#video-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/120px/Main-Logo-w.svg") no-repeat center/400px auto;
  background-color: #595ae2;
  z-index: 1000;
}

.tab-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-base, #fff);
}

.header {
  justify-self: flex-start;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: var(--color-primary, #595ae2);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background: url("../assets/img/24px/Clear.svg") no-repeat center/24px;
  cursor: pointer;
}

.header-title {
  font: var(--font-header, 700 16px/1 "NotoSans");
  color: var(--color-white, #fff);
}

.content {
  width: 100%;
  height: calc(100% - 40px);
  flex-grow: 1;
}

#menu-buttons {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  padding: 16px;
  z-index: 99999;
}

#menu-buttons .open-tab {
  width: 64px;
  height: 64px;
  border-radius: 16px;
}

#menu-buttons .open-tab:not(.active) {
  background: url("../assets/img/64px/Logo-w.svg") no-repeat center/64px;
  background-color: var(--color-primary, #595ae2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border: none;
}

#menu-buttons .open-tab:not(.active):hover {
  background-color: var(--color-primary-darker, #4344d4);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

#menu-buttons .open-tab:not(.active):active {
  background-color: var(--color-primary-darkest, #3435c3);
}

#menu-buttons .open-tab.active {
  background: url("../assets/img/64px/Logo-p.svg") no-repeat center/64px;
  background-color: var(--color-base, #fff);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-primary, #595ae2);
}

#menu-buttons .open-tab.active:hover {
  background-color: var(--color-base-1, #f5f5f5);
}

#menu-buttons .open-tab.active:active {
  background-color: var(--color-base-2, #ebebeb);
}

